body {
    background-color: black;
    color: white;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 35px;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: #ff4564;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}